td[datos-price] {
  position: relative;
  font-size: 80%;
  text-align: left;
  padding-left: 3px;
}

td[datos-price]::after {
  content: attr(datos-price);
  text-align: center;
  font-size: 70%;
  position: absolute;
  display: block;
  height: 50%;
  width: 40%;
  bottom: 0;
  right: 0;
  background-color: rgb(211, 241, 231);
}
td.maxDiff {
  background-color: rgb(241, 112, 112);
}
td.disabled {
  background-color: rgb(238, 212, 212);
}
