section.solve {
  background-color: #eee;
  padding: 20px;
  margin-top: 20px;
}

section.solve h2 {
  margin: 0;
}

section.solve h4 {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}
.volume {
  display: flex;
}

.volume p {
  margin: 0 40px 0 0;
}
